{% extends "base.html" %}
{% block start %}
<center>
  <h1>Login Page</h1>
</center>
<form class="container card col-6 p-3" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="text" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      {% comment %} {{form.email}} {% endcomment %}
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="text" name = "password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      {% comment %} {{form.password1}} {% endcomment %}
    </div>
    <p> Don't have an accout? <a href="/register">Register</a></p>  

    <button type="submit" class="btn btn-primary">Login</button>
  </form>
{% endblock  %}